{% extends 'base.html' %}

{% block head %}
<title>User Order Viewer</title>
{% endblock %}

{% block body %}

<div class="u-full-width" style="margin-left:5%;margin-right:5%;margin-top:2%">
  <div class="row">
    <div class="one-third column">
      <h4>User Order Preview</h4>
      <div class="userslider">
        <h4>Slide to change user. Viewing user <span id="viewing_user"></span></h4>
        <input type="range" min="1" max="500" value="50" class="slider" id="user_id"
          onchange="userSlider()">
      </div>
      <!-- <label> Pick the User to Preview</label> -->
      <!-- <form id="user_id" action="/get_user">
        <p>View the Order for the Following User:</p>
        <input type="number" placeholder="1" name="quantity" min="1" max="500" value="1" onchange="getUserCartActual()">
        <button type='button' onclick="getUserCartActual()">Get User Orders</button>
        <button type='button' onclick="getUserCartPrediction()">Get Predictions</button>
      </form> -->

    </div>
    <div class="one-third column">
      
      <div class="slidecontainer">
        <h4>Prediction Threshold:</h4>
        <input type="range" min="0" max="100" value="50" class="slider" id="thresh-slider"
          onchange="getUserCartPrediction()">
      </div>

    </div>
  </div>
</div>
<div class="u-full-width" style="margin-left:5%;margin-top:0%">
  <div class="row">
    <div class="one-third column">
      <h4>User Order (Actual)</h4>
      <div id="user_order_actual">This index.html page is a placeholder with the CSS, font and favicon. It's just
        waiting for you to add some
        content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</div>
    </div>
    <div class="one-third column">
      <h4>User Order (Predicted)</h4>
      <div id="user_order_prediction">This index.html page is a placeholder with the CSS, font and favicon. It's just
        waiting for you to add some
        content! If you need some help hit up the <a href="http://www.getskeleton.com">Skeleton documentation</a>.</div>
    </div>
  </div>
</div>

{% endblock %}